<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About me</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style3.css')}}">
        
    </head>
    <body>
    <div class="container">
        <div class="content">
            <div class="side1">
                <div class="logo">
                    <h1>About me</h1>
                </div>
                <div class="content-side1">
                    <p>Few words about me</p>  
                </div>       
            </div>
            <div class="side2">
                <div class="links">
                    <a href="homepage.html">Home</a>
                    <a href="contact.html">Contact me</a>
                    <a href="aboutme.html">About me</a>
                    <a href="hobbies.html">My hobbies</a>
                </div>
                <div class="content-side2">
                    <div class="informationtext">
                        <p style="text-align: center;">Hello. My name is Adam Akimowicz. I'm 19 years old. I come from a small town in Podlasie near the border with Belarus. 
                        I started my adventure with programming with the help of Kodilla. I strongly believe that thanks to them I will open myself to the world of programmers 
                        and I will be able to join them in the near future.</p><br>
                        
                        <p style="text-align: center;">Why exactly programming?</p><br>
                        <p style="text-align: center;">I associate the profession of a programmer with a very prestigious profession. 
                        I see programmers as creative, intelligent people who want to change the world for the better. That is why I want to join the group of these people so that others will also perceive me as I am programmers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>