<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact site</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="container">
        <div class="content">
            <div class="side1">
                <div class="logo">
                    <h1>Contact</h1>
                </div>
                <div class="content-side1">
                    <p>Places where you can contact with me</p>
                    
                </div>
            </div>
            <div class="side2">
                <div class="links">
                    <a href="homepage.html">Home</a>
                    <a href="contact.html">Contact me</a>
                    <a href="aboutme.html">About me</a>
                    <a href="hobbies.html">My hobbies</a>
                </div>
                <div class="content-side2">
                    <div class="information">
                        <p style="text-align: center;"> Social media</p><br>
                    </div>    
                    <div class="Socialmedia">    
                        <p style="text-align:center">Facebook: &emsp;Adam Akimowicz</p><br>
                        <p>LinkedIn: &emsp;Adam Akimowicz</p><br>
                        <p>GitHub: &emsp;@pakupek</p>
                    </div>
                    <div class="Icon1">
                        <a href="https://www.facebook.com/adam.akimowicz/" target="_blank"><i class="fa fa-facebook" style="font-size: 24px; color:whitesmoke"></i></a>      
                    </div>
                    <div class="Icon2">
                        <a href="www.linkedin.com/in/adamakimowicz-99170823b" target="_blank"><i class="fa fa-linkedin-square" style="font-size: 24px; color:whitesmoke"></i></a>
                    </div>
                    <div class="Icon3">
                        <a href="https://github.com/pakupek" target="_blank"><i class="fa fa-github" style="font-size: 24px; color: whitesmoke;"></i></a>
                    </div><br>
                    <div class="Game">
                        <p style="text-align:center">Also if you wanna play video games with me </p>
                    </div> 
                    <div class="steam">
                        <p>Steam account #1: &emsp; b1Simple</p><br>
                        <p>Steam account #2: &emsp; gngr</p><br>
                        <p>League of Legends: &emsp; pakupek</p>
                    </div> 
                    <div class="steamicon1">
                        <a href="https://steamcommunity.com/id/znervo/" target=""><i class="fa fa-steam" style="font-size: 24px; color: whitesmoke;"></i></a>
                    </div>
                    <div class="steamicon2">
                        <a href="https://steamcommunity.com/profiles/76561198402934239" target="_blank"><i class="fa fa-steam" style="font-size: 24px; color: whitesmoke;"></i></a>
                    </div>
                    <form class="form" action="" method="POST" enctype="text/plain">
                        <div>
                        <table style="background-color: transparent">
                        <tr>
                            <td style="color:whitesmoke;">First name:    
                            </td>
                            <td><input type="text" name="imie">
                            </td>
                        </tr>
                        <tr>
                            <td style="color:whitesmoke;">Last name:    
                            </td>
                            <td><input type="text" name="nazwisko">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="color:whitesmoke;">Enter your comment:</p>
                                <textarea name="Komentarz" cols="40" rows="10" align="center">Please enter some comment here...</textarea>
                            </td>
                        </tr>
                        <tr>
                            <br>
                            <td colspan="2" style="text-align: center"><br>
                                <input type="submit" value="Wyślij">
                                <input type="reset" value="Wyczyść">
                            </td>
                        </tr>
                        </table>
                        </div>
                    </form> 
                    <div class="lolicon">
                        <img src="C:\Users\adama\Desktop\Kodilla\Python_projekty\Zadanie strona wizytowka\Pictures\icons8-league-of-legends-50.png" style="font-size: 24px; color:whitesmoke;" alt=""></img>
                    </div>                                         
                </div>
            </div>
        </div>
    </div>
    </body>
</html>