<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        
    </head>
    <body>
    <div class="container">
        <div class="content">
            <div class="side1">
                <div class="logo">
                    <h1>Welcome to my homepage</h1>
                </div>
                <div class="content-side1">
                    <p>Let's get to know each other better</p>  
                </div>
                <div class="content-side1sign">
                    <p>Adam Akimowicz</p>
                </div>
            </div>
            <div class="side2">
                <div class="links">
                    <a href="homepage.html">Home</a>
                    <a href="contact.html">Contact me</a>
                    <a href="aboutme.html">About me</a>
                    <a href="hobbies.html">My hobbies</a>
                </div>
                <div class="content-side2"></div>
            </div>
        </div>
    </div>
    </body>
</html>